/**
* Colours; #01110a, 292f36, f15025, 7b0d1e
**/
body {
    min-height:100vh;
    position: relative;
 }

 a {
     color: #f15025;
 }

 a:hover {
     color: #7b0d1e;
 }

.post_title {
    color: #292f36;
}

#sidebar {
    background-color: #01110A;
    color: #FFFFFF;
}

#sidebar a {
    color: #FFFFFF;
}

#sidebar-nav {
    list-style-type: none;
}

#sidebar-nav ul li {
    display: block;
}

#sidebar-icons {
    list-style-type: none;
    justify-content: space-evenly;
    display: flex;
    color: #FFFFFF;
}