---
layout: default
title: Index
---
     {% for post in paginator.posts %}
    <div class="row">
        <div class="col">
                <a href="{{post.url | prepend: site.baseurl }}">
                    <h1>{{ post.title }}</h1>
                </a>
                    <time class="text-muted" datetime="{{ post.date }}">{{ post.date | date: "%B %d, %Y" }}</time>
                {% if post.description %}
            <span class="text-muted">
                : {{ post.description }}
            </span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer posts</a>
            {% endif %}
        </div>
        <div class="col">
            <span>{{ paginator.page }}</span>
        </div>
        <div class="col">
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older posts ({{paginator.next_page}}/{{paginator.total_pages}})</a>
            {% endif %}
        </div>
    </div>
