<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Don't use any default sources -->
        <clear />
        <!-- Just use the local one -->
        <add key="LocalRepo" value="/Users/stuart/dev/BlogHelper9000/releases" />
    </packageSources>
</configuration>
