@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

<div class="clearnavigation">
<p>My name is Stuart and I work in the North of England, where I work as a software engineer.</p>

<p>This blog has nothing at all what-so-ever to do with my job, and all thoughts and opinions are entirely my own. Code I post is entirely as-is, and you use it at your own risk.</p>

</div>
