@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

<div>
	<h1>Contact</h1>

	<div>
		<p>You can contact me in the following ways:</p>
		<ul>
			<li><a href="http://twitter.com/stugrassie">stugrassie</li>
		</ul>

	</div>

</div>
