@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

<div>
	<h1>Contact</h1>

	<div>
		<p>You can contact me in the following ways:</p>
		<ul>
			<li><a href="http://twitter.com/stugrassie">stugrassie</a></li>
			<li><a href="http://facebook.com/sgrassie">facebook.com/sgrassie</a></li>
			<li><a href="http://uk.linkedin.com/in/sgrassie/">uk.linkedin.com/in/sgrassie</a></li>
			<li>>
		</ul>
		
		<p>If you really want to email me, scan this QR code with your smartphone to get my email address:</p>
		
		<img src="/images/email.png" class="img-responsive" 
	</div>

</div>
