<div class="contact-list">
    <ul>
        {% if site.author.github %}
        <li>
            <a href="https://github.com/{{ site.author.github }}">
                <i class="fa fa-github-alt fa-lg"></i>
            </a>
        </li>
        {% endif %}
        {% if site.author.twitter %}
        <li>
            <a href="https://twitter.com/{{ site.author.twitter }}">
                <i class="fa fa-twitter fa-lg"></i>
            </a>
        </li>
        {% endif %}
        {% if site.author.email %}
        <li>
            <a href="mailto:{{ site.author.email }}">
                <i class="fa fa-envelope fa-lg"></i>
            </a>
        </li>
        {% endif %}
        {% if site.author.pinterest %}
        <li>
            <ahref="https://pinterest.com/{{ site.author.pinterest }}">
            <i class="fa fa-pinterest fa-lg"></i>
            </a>
        </li>
        {% endif %}
        {% if site.author.linkedin %}
        <li>
            <a href="https://linkedin.com/in/{{ site.author.linkedin }}">
                <i class="fa fa-linkedin fa-lg"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
