{% if paginator.total_pages > 1 %}
<nav class="pagination wrap" aria-label="Posts pagination">
    {% if paginator.previous_page %}
    <a class="pagination__link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer posts</a>
    {% else %}
    <span class="pagination__spacer" aria-hidden="true"></span>
    {% endif %}
    <span class="pagination__count">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a class="pagination__link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older posts &rarr;</a>
    {% else %}
    <span class="pagination__spacer" aria-hidden="true"></span>
    {% endif %}
</nav>
{% endif %}
