{% if page.series %}

{% assign count = '0' %}
{% assign idx = '0' %}
{% for post in site.posts reversed %}
	{% if post.series == page.series %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}
		{% if post.url == page.url %}
			{% capture idx %}{{count}}{% endcapture %}
		{% endif %}
	{% endif %}
{% endfor %}

<div class="panel seriesNote">
	<p>This article is <strong>Part {{ idx }}</strong> in a <strong>{{ count }}-Part</strong> Series.</p>
	<ul class="fa-ul">
	{% assign count = '0' %}
	{% for post in site.posts reversed %}
	{% if post.series == page.series %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}
		<li>
		{% if page.url == post.url %}
            <span class="fa-li"><i class="far fa-eye"></i></span>Part {{ count}} - this
		{% else %}
            <span class="fa-li"><i class="far fa-eye-slash"></i></span><a href="{{post.url}}">{{post.title}}</a>
		{% endif %}
		</li>
	{% endif %}
	{% endfor %}
	</ul>
</div>
{% endif %}