<header class="sticky-top d-flex flex-column" style="min-height: 100vh;">
    <div>
        <h1><a href="{{site.url}}">Temporal Cohesion</a></h1>
        <h2>...it's we how we get things done</h2>
    </div>
    <div class="flex-fill">
        <ul id="sidebar-nav">
            <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
            <li>archives</li>
            <li><a href="{{ '/contact' | prepend: site.baseurl }}"></a>Contact</li>
        </ul>
    </div>
    <footer>
        <ul id="sidebar-icons" class="list-inline">
            <li class="list-inline-item">
                <a href="https://twitter.com/stugrassie"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/sgrassie"><i class="fab fa-github" aria-hidden="true"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="{{ site.url }}/{{ site.rss_path }}"><i class="fas fa-rss" aria-hidden="true"></i></a>
            </li>
        </ul>
    </footer>
</header>